[Desktop Entry]
Name=Semantik
Exec=semantik
GenericName=Mind mapping software
GenericName[tr]=Zihin haritalama uygulaması
Type=Application
Terminal=false
Icon=semantik
MimeType=application/x-semantik;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Office;
