[Desktop Entry]
Name=Semantik
Exec=semantik %f
GenericName=Mind mapping software
GenericName[ru]=Ассоциативные карты
GenericName[tr]=Zihin haritalama uygulaması
GenericName[el]=Λογισμικό χαρτογράφησης ιδεών
GenericName[pl]=Program do tworzenia map myśli
GenericName[cy]=Meddalwedd mapio'r meddwl
GenericName[et]=Mõttekaarditarkvara
GenericName[hu]=Gondolattérkép-készítő
Comment=Mind mapping software
Comment[ru]=Программа для создания диаграмм связей
Comment[tr]=Zihin haritalama uygulaması
Comment[el]=Λογισμικό χαρτογράφησης ιδεών
Comment[pl]=Program do tworzenia map myśli
Comment[cy]=Meddalwedd mapio'r meddwl
Comment[et]=Mõttekaarditarkvara
Comment[hu]=Gondolattérkép-készítő
Type=Application
Terminal=false
Icon=semantik
MimeType=application/x-semantik;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Office;
